body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-card .p-card-content{padding-bottom: 0 !important;}
.p-datatable .p-datatable-tbody > tr > td{font-size: 0.8rem;}
.p-column-title{font-size: 0.9rem; font-weight: bold;}
.p-adj{    display: inline;
  color: #fff;
  padding: 15px;
  position: relative;
  vertical-align: top;
  top: 6px;}